
:root {
    --wh-base: #FFFFFF;
    --wh-sec: #F8F8FF;
    --gy-base: #F5F5F5;
    --gy-sec: #E5E4E2;

    --sm-shdw: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --lg-shdw: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    --blue-grad:
    linear-gradient(
            to bottom,
            var(--sky-aqua) 0%,
            var(--fresh-sky) 25%,
            var(--brilliant-azure) 50%,
            var(--royal-blue) 75%,
            var(--bright-indigo) 100%
    );

    --purp-grad: linear-gradient(
            135deg,
            var(--plum),
            var(--plum-2),
            var(--bright-lavender),
            var(--soft-periwinkle),
            var(--soft-periwinkle-2),
            var(--medium-slate-blue),
            var(--electric-sapphire)
    );

    --sky-aqua: hsla(192, 95%, 50%, 1);
    --fresh-sky: hsla(200, 93%, 49%, 1);
    --brilliant-azure: hsla(207, 92%, 48%, 1);
    --royal-blue: hsla(216, 90%, 48%, 1);
    --bright-indigo: hsla(225, 89%, 47%, 1);

    --plum: #EA98DAff;
    --plum-2: #D291DFff;
    --bright-lavender: #BA89E4ff;
    --soft-periwinkle: #A382EAff;
    --soft-periwinkle-2: #8B7BEFff;
    --medium-slate-blue: #7373F4ff;
    --electric-sapphire: #5B6CF9ff;
}

*, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: var(--blue-grad);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100dvh;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}

.home-container#content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.home-el h2 {
    text-align: center;
    margin: .8rem auto;
}

.home-el form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.form-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#search-con {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: var(--wh-base);
    padding: .6rem;
    border-radius: .6rem;
    box-shadow: var(--lg-shdw);
    max-width: 400px;
    min-height: 100px;
    align-items: center;
}

.form-container input {
    border-radius: .2rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: var(--wh-base);
    padding: .4rem;
    width: 100%;
    box-shadow: var(--sm-shdw);
    display: block;

}

.form-container label {
    margin-bottom: .4rem;
}

footer {
    margin-top: auto;
}

.btn {
    border-radius: .8rem;
    box-shadow: var(--sm-shdw);
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: var(--gy-sec);
    cursor: pointer;
}

.btn:hover {
    background: var(--gy-base);
}

.btn svg {
    width: 100%;
    height: 100%;
}

#geolocation {
    padding: .4rem;
    margin: auto;
    display: inline-flex;
    align-items: center;
    gap: .4rem;
}

#geolocation svg {
    max-width: 24px;
}

#options-drawer {
    background: var(--wh-base);
    border: 1px solid var(--gy-sec);
    border-top: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: .4rem;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    max-height: 250px;
    overflow-y: auto;
}

#options-drawer p {
    padding: .4rem;
    text-wrap: balance;
}

#options-drawer p:hover {
    cursor: pointer;
    background: var(--gy-sec) !important;
}

#options-drawer p:nth-child(odd) {
    background: var(--gy-base);
}
